body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #8e44ad;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2f7243;
}

.navbar a:hover {
    background-color: #2ecc71;
}

.container {
    padding: 20px;

}

h1 {
    color: #e74c3c;
    max-width: 50%;
    max-height: 1024px;
    flex-wrap: wrap;
}

h2 {
    color: #e74c3c;
    text-align: right;
    flex-wrap: wrap;
}

h3 {
    color: #e74c3c;
    text-align: flex;
    flex-wrap: wrap;
}

.floated-image {
    float: left;
    margin-right: 15px;
    border: 3px solid #34495e;
    max-width: 400px;
}

.quote {
    font-style: italic;
    color: #2c3e50;
    margin: 15px 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.project {
    background-color: #ecf0f1;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.project img {
    max-width: 10px;
    height: auto;
    margin-bottom: 10px;
}

div {
    display: block;
    height: 450px;
    width: 100%;
}

.Alt-img{
    height: 55%;
    width: 60%;
    display: flex;
    
}

.alt-left{
    right: 50%;
    height: 55%;
    width: 60%;
    float: right;
    display: flex;
}


@media (max-width: 768px) {
    .body {
        grid-template-columns: repeat(2, 1fr);
    }
    
    input {
        width: 90%;
    }
    .message {
        height:145px;
        font-size:14pt;
        background-color: #f4f4f4;
        border: px solid #ccc;
    }
}

@media (max-width: 480px) {
    .body {
        grid-template-columns: 1fr;
    }

    input {
        width: 90%;
    }
    .message {
        height:145px;
        font-size:14pt;
        background-color: #f4f4f4;
        border: px solid #ccc;
    }
} 
