body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #8e44ad;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2f7243;
}

.navbar a:hover {
    background-color: #2ecc71;
}

.container {
    padding: 20px;

}

h1 {
    color: #e74c3c;
    text-align: flex;
    max-height: 90%
}

h2 {
    color: #e74c3c;
    text-align: flex;
}

h3 {
    color: #e74c3c;
    text-align: flex;
}

.floated-image {
    float: left;
    margin-right: 15px;
    border: 3px solid #34495e;
    max-width: 400px;
}

.quote {
    font-style: italic;
    color: #2c3e50;
    margin: 15px 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.project {
    background-color: #ecf0f1;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.project img {
    max-width: 10px;
    height: auto;
    margin-bottom: 10px;
}

div {
    display: block;
    height: 450px;
    width: 100%;
}

.Alt-img{
    height: 400px;
    width: 400px;
    float: right;
}

.alt-left{
    left: 0%;
}

.smallb{
    display: flex;
}